[submodule "submodules/highway"]
	path = submodules/highway
	url = https://github.com/google/highway.git
[submodule "submodules/varint_rvv"]
	path = submodules/varint_rvv
	url = https://github.com/vogma/varint_rvv.git
